.idea/
Binaries/
Build/
cmake-build-debug/
DerivedDataCache/
Intermediate/
LinuxArm64Server/
LinuxServer/
Mac/
MacServer/
paks/
Plugins/
Saved/
.DS_Store
build_linux_server_arm.sh
build_linux_server_arm_debug_checksum.sh
build_linux_server_x86_64.sh
initiate_build_linux.sh
initiate_build_linux_debug_checksum.sh
PackExampleProject.sh
/IOS
